#centertext {
	font-family: courier, monospace;
	font-size: 80%;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

#cv_centertext {
	font-family: courier, monospace;
	font-size: 80%;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.sections {
	font-weight: bold;
}